USE [NagarProfileMandandeupurNew]
GO
/****** Object:  Table [dbo].[QuestionConfig]    Script Date: 1/12/2025 2:42:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SurveyCode] [nvarchar](400) NOT NULL,
	[Name] [nvarchar](400) NOT NULL,
	[DisplayText] [nvarchar](400) NOT NULL,
	[KeyText] [nvarchar](400) NOT NULL,
	[ValueText] [nvarchar](400) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SPName] [nvarchar](50) NULL,
 CONSTRAINT [PK__Question__3214EC07CD6A7D5B] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[QuestionConfig] ON 

INSERT [dbo].[QuestionConfig] ([Id], [SurveyCode], [Name], [DisplayText], [KeyText], [ValueText], [DisplayOrder], [IsActive], [SPName]) VALUES (1, N'Household', N'Your_family_is_permanent_here', N'परिवार संख्या स्थायी हो / होइन', N'परिवार संख्या स्थायी हो / होइन', N'परिवार संख्या', 2, 1, N'spRpt_HouseOwnerPermanent')
INSERT [dbo].[QuestionConfig] ([Id], [SurveyCode], [Name], [DisplayText], [KeyText], [ValueText], [DisplayOrder], [IsActive], [SPName]) VALUES (2, N'Household', N'H_RALATION', N'घरमुलिसँगको नाता', N'', N'', 4, 0, NULL)
INSERT [dbo].[QuestionConfig] ([Id], [SurveyCode], [Name], [DisplayText], [KeyText], [ValueText], [DisplayOrder], [IsActive], [SPName]) VALUES (3, N'Household', N'ward_no', N'वडा अनुसार घरधुरी संख्या', N'वडा', N'घरधुरी संख्या', 6, 1, N'spRpt_WardHouseHoldDetail')
GO
SET IDENTITY_INSERT [dbo].[QuestionConfig] OFF
GO
ALTER TABLE [dbo].[QuestionConfig] ADD  CONSTRAINT [DF_QuestionConfig_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
